<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
</head>
<body>
<style type="text/css">
    body {
        background-color: #fff0ca;
    }
    div.middle {
        position: absolute;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
    }
</style>

<div style="float:right">
    <form action="/adminlogin">
        <input type="password" name="password"/><br>
        <input type="submit" value="Log In as Admin"/>
    </form>
</div>

<div class="middle">
    <form action="/userview">
        <input type="text" name="user_mail">mail</input><br>
        <input type="password" name="password">password</input><br>
        <input type="submit" value="Log In"/>
    </form>
    <form action="/registerPage">
        <input type="submit" value="Register">
    </form>
    <div th:if="${errorInfo != null}">
        <div th:if="${errorInfo == 'Wrong password'}">
            <p>Wrong password!</p>
        </div>
        <div th:if="${errorInfo == 'No user with this mail'}">
            <p>No user with this email!</p>
        </div>
    </div>
</div>
</body>